[Desktop Entry]
Name=Dwarfs F2P
Comment=Play this game on Steam
Exec=steam steam://rungameid/213650
Icon=steam
Terminal=false
Type=Application
Categories=Game;
